<div class="col-sm-3 col-md-3 pull-right">
<%= form_tag("/tasks/search/", :method => "get") do %> 

  <div class="form-group">
    <%= text_field_tag :search %><%= submit_tag "Search", class: "btn btn-warning" %>
  </div>
  

  <% end %>
</div>
<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Task</th>
      <th>Category</th>
      <th>Deadline</th>
      <th>Is completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%= form_tag("/tasks/complete/", :method => "post") do %>   
    <% @tasks.each do |task| %>
      <tr>
        <% if task.is_completed == true %>
     <td> <%= check_box_tag  "task_checkbox[]",task.id, task.is_completed %></td> <td> <strike><%= task.Task %></strike> </td>
  <% else %>
     <td> <%= check_box_tag  "task_checkbox[]",task.id, task.is_completed %></td> <td><%= task.Task %></td>
  <% end %>
        
        <td><%= task.Category %></td>
        <td><%= task.Deadline %></td>
        <td><%= task.is_completed %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        
      </tr>
    <% end %>
     <%= submit_tag("Confirm Marked Task(s)", :class=>"btn btn-success") %>
<%end%>
  </tbody>

</table>


<br>


<div style="float: left; width: auto ;"><%= button_to 'New Task', new_task_path, :class => "btn btn-primary", :method => "get" %></div>
<div style="float: left; width: auto ;"><%= button_to 'Completed Tasks', completed_tasks_path, :class => "btn btn-default", :method => "get" %></div>
<div style="float: left; width: auto ;"><%= button_to 'Incomplete Tasks', incomplete_tasks_path, :class => "btn btn-danger", :method => "get" %></div>
